// TODO: Try removing these styles whenever payload is updated

.no-padding-bottom {
  margin-top: 2px;
  margin-bottom: 2px !important;
  label.field-label:not(.unstyled) {
    padding-bottom: 0;
  }
}

.group-field:only-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
