
.ourService > p {
    color: #F64B4B;
    font-size: 13px;
    font-weight: 700;
}
.ourService h2 {
    color: #161C2D;
    font-size: 36px;
    font-weight: 700;
}
.ourService .ourService_slider--item{

}